body{
  font-family: "Open Sans", sans-serif;
}

h1{
  color: #ccc;
  font-weight: 300;
}

/*figure{
  margin:auto;
}*/

.content article{
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

img{
  max-width: 100%;
}

/*===================== HEADER ===================*/

.jumbo-blur{
  position: relative;
  height: 600px;
  background-image: url("../photos/bench-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.anissalogo{
  height: 100px;
  width: 100%;
  /*background-color: pink;*/
  background-image: url("../photos/anissalogo-wht.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.yellow-flower{
  width: 960px;
  height: 480px;
  background-image: url("../photos/yellow-flower.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 65%;
  margin-left: -480px;
  top: 250px;
}

.leaves{
  width: 960px;
  height: 425px;
  /*background-color: rgba(244, 108, 211, 0.32);*/
  background-image: url("../photos/leaves.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -530px;

}
