/* MAIN HEADER
==============================================================================*/
.welcome {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc; }
  .welcome h1 {
    font-family: 'PT Serif Caption', serif;
    font-size: 50px; }
  .welcome .social {
    padding: 0px; }
    .welcome .social li {
      list-style: none;
      display: inline;
      color: #808688; }
    .welcome .social a {
      font-size: 28px;
      color: #808688; }
      .welcome .social a:visited {
        color: #808688; }
  .welcome nav .btn-primary {
    background-color: #00b7be !important;
    border-color: #fff !important; }
    .welcome nav .btn-primary:focus {
      background-color: rgba(0, 183, 190, 0.81) !important; }

/* ABOUT ME PAGE
==============================================================================*/
.aboutmeView .aboutpara {
  margin: auto;
  margin-bottom: 5em;
  text-align: center; }
.aboutmeView h3 {
  font-size: 2em;
  font-family: 'PT Serif Caption', serif;
  text-align: center;
  margin-bottom: .8em; }
.aboutmeView p {
  font-size: 1.5em;
  margin: auto; }
.aboutmeView span {
  font-weight: bold; }
.aboutmeView .dividline {
  margin-left: 25%;
  margin-bottom: 5em;
  width: 50%;
  border-top: 3px dotted #00b7be;
  border-bottom: 3px dotted #808688; }

#mycanvas {
  margin-left: 10%;
  width: 70% !important;
  font-size: 1em; }

@media (max-width: 640px) {
  .aboutpara {
    margin: auto;
    margin-bottom: 5em;
    text-align: center; }

  #mycanvas {
    margin-left: 0%;
    width: 100% !important;
    height: 50%;
    font-size: .2em;
    transform: rotate(90deg); } }
/* PROJECTS PAGE
==============================================================================*/
.projectView {
  margin-bottom: 50px; }
  .projectView img {
    border: 2px solid #b5b8b9;
    width: 42vw;
    height: 23vw; }
  .projectView .flipcorner {
    position: relative; }
  .projectView .flipcorner:before, .projectView .flipcorner:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    left: 5%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg); }
  .projectView .flipcorner:after {
    transform: rotate(3deg);
    right: 5em;
    left: auto; }
  .projectView .project {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px; }
    .projectView .project:first-child {
      margin-top: 20px; }
  .projectView .projectinfo {
    width: 550px;
    margin: 0px 20px 0px 0px; }
    .projectView .projectinfo h3 {
      font-family: 'PT Serif Caption', serif;
      font-size: 30px;
      margin-top: 0px; }
    .projectView .projectinfo p {
      display: inline-block;
      padding: 10px 0px 0px;
      font-size: 16px;
      margin: 10px 0 10px;
      width: 450px; }
    .projectView .projectinfo .clearfix {
      overflow: auto; }
  .projectView .techused {
    height: 35px; }
    .projectView .techused ul {
      list-style: none;
      padding: 0px; }
      .projectView .techused ul li {
        display: inline-block;
        background-color: #00b7be;
        color: #fff;
        padding: 0.5em;
        margin: 0 0.35em 0.6em 0;
        font-size: 0.8em;
        border-radius: 0.3em;
        float: left; }
  .projectView .buttongrp button {
    background-color: transparent;
    color: #808688;
    border: 1px solid #808688; }

@media screen and (max-width: 1199px) {
  .projectView img {
    border: 2px solid #b5b8b9;
    width: 32em;
    height: 20em; }
  .projectView .flipcorner:before, .projectView .flipcorner:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    left: 6%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg); }
  .projectView .flipcorner:after {
    left: 15em;
    transform: rotate(3deg); }
  .projectView .box {
    margin-top: 2em; } }
@media screen and (max-width: 640px) {
  .projectView img {
    border: 2px solid #b5b8b9;
    width: 100%;
    height: auto; }
  .projectView .flipcorner:before, .projectView .flipcorner:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg); }
  .projectView .flipcorner:before {
    left: 6%; }
  .projectView .flipcorner:after {
    left: 44%;
    transform: rotate(3deg); }
  .projectView .box {
    margin-top: 2em; }
  .projectView .project {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px; }
    .projectView .project:first-child {
      margin-top: 20px; }
  .projectView .projectinfo h3 {
    font-family: 'PT Serif Caption', serif;
    font-size: 30px;
    margin-top: 0px; }
  .projectView .projectinfo p {
    display: inline-block;
    padding: 1em 0em 0em;
    font-size: 1.2em;
    margin: 1em 0 1em;
    width: 100%; }
  .projectView .projectinfo .clearfix {
    overflow: auto; }
  .projectView .techused {
    height: 35px; }
    .projectView .techused ul {
      list-style: none;
      padding: 0px; }
      .projectView .techused ul li {
        display: inline-block;
        background-color: #00b7be;
        color: #fff;
        padding: 0.5em;
        margin: 0 0.35em 0.6em 0;
        font-size: 0.8em;
        border-radius: 0.3em;
        float: left; } }
/* RESUME PAGE
==============================================================================*/
.resumeView {
  width: 85%; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 15%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: block; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 76%;
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 14.5%;
  margin-left: -25px;
  background-color: #fff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.mainicon {
  margin-top: 20px;
  color: #808688; }

.timeline > li > h2 {
  float: right;
  width: 80%;
  font-family: 'PT Serif Caption', serif; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.pdf {
  text-decoration: none;
  font-family: 'PT Serif Caption', serif;
  color: #05979d;
  float: right;
  font-size: 16px; }

.timeline-badge.info {
  background-color: #00b7be !important;
  padding-top: 4px;
  border: 3px solid #fff; }

.date {
  font-size: 16px; }

.timeline-badge.mainbadge {
  border: 2px solid #dde4e6; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

.timeline-body > span {
  font-style: italic; }

.timeline-heading > h5 {
  color: #00a0a6; }

/*# sourceMappingURL=styles.css.map */
